<div
  class="col-span-12 rounded-sm border border-stroke bg-white px-5 pb-5 pt-7.5 shadow-default dark:border-strokedark dark:bg-boxdark sm:px-7.5"
>
  <div class="flex justify-between items-center">
    <h3 class="text-xl font-bold text-black dark:text-white">
      Peak Hour
    </h3>
    <select class="form-select block mt-1 border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
      <option disabled >Choose a store</option>
      <option value="morning" selected>Kota Damansara</option>
      <option value="afternoon">Selayang</option>
      <option value="evening">Ampang</option>
    </select>
  </div>
  <div>
    <div id="chartFour" class="-ml-5"></div>
  </div>
</div>
